body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
}

h2 {
  margin-top: 10px;
}

#map {
  height: 85vh;
  width: 95%;
  margin: 10px auto;
  border-radius: 10px;
  border: 2px solid #ccc;
}

.leaflet-routing-container {
  display: none; /* hide default routing UI */
}
