body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
}

h2 {
  margin-top: 10px;
}

#map {
  height: 85vh;
  width: 95%;
  margin: 10px auto;
  border-radius: 10px;
  border: 2px solid #ccc;
}

.leaflet-routing-container {
  display: none; /* hide default routing UI */
}
.eta-box {
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
  font-size: 14px;
}
