html, body {
  height: 100%;
  margin: 0;
}

#map {
  height: 100%;
  width: 100%;
}

/* ETA BOX */
#etaBox {
  position: absolute;
  top: 15px;
  right: 15px;
  background: white;
  padding: 12px 16px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  z-index: 1000;
}

#etaTitle {
  font-size: 14px;
  font-weight: bold;
}

#etaValue {
  font-size: 16px;
  margin-top: 4px;
}
